#container {
    background-color: $White;
    width: 768px;
    // width: 50%;
    border-radius: 25px;
    @include padding; 
    align-self: center;
    
    @media (max-width: 768px) {
        border-radius: 0;
        width: 100%;
        height: 100%;
    }

    @media (max-width: 375px) {
        width: 100%;
        height: 100%;

        padding: 0;
    }
}

// header
header {

    & > img {
        width: 100%;
        border-radius: 15px;

        @media (max-width: 375px) {
            border-radius: 0;
        }
    }

    & > h1 {
        @include marginTop;

        @media (max-width:375px) {
            margin: 0 35px;
        }
    }

    & > p {
        @include marginAllTitle;

        @media (max-width:375px) {
            margin: 0 35px; 
        }
    }
}

// main
main {
    @media (max-width: 375px) {
        margin: 0 35px; 
    }
}

#time {
    background: $Rose-White;
    border-radius: 15px;
    padding: 20px 20px;
    @include marginTop;

    & > h2 {
        font-family: $txt-outfit;
        font-size: 18px;
        font-weight: bold;
        color: $Dark-Raspberry;
    }

    & > ul {
        margin: 15px 30px;
        

        & > li {
            @include marginAllTitle;
            list-style: none;
            position: relative;
        }

        & > li::before {
            content: "";
            position: absolute;
            width: 4px;
            height: 4px;
            left: -22px;
            top: 8px;
            background: hsl(332, 51%, 32%);
        }
    }
}

#ingredients {
    @include marginTop;
    
    & > ul {
        margin-left: 25px;

        & > li {
            @include marginAllTitle;
            list-style: none;
            position: relative;
        }
        
        & > li::before {
            content: "";
            position: absolute;
            width: 4px;
            height: 4px;
            top: 9px;
            left: -19px;
            background-color: $Nutmeg;
        }
    }
}

#instructions {
    @include marginTop;

    & > ol {
        margin-left: 25px;
        counter-reset: item;
        list-style: none;


        & > li {
            @include marginAllTitle;
            counter-increment: item;
            position: relative;
        }

        & > li::before {
            content: counter(item) ".";
            position: absolute;
            left: -19px;
            color: $Nutmeg;
            font-weight: bold;
        }
    }
}


#nutrition {

    @include marginTop;


    & > p {
        @include marginAllTitle;
    }

    & > table {
        width: 100%;
        border-collapse: collapse;
        
        & > tbody > tr {
            border-bottom: 1px solid $Light-Grey;

            &:nth-child(4) {
                border-bottom: none;
            }
        }

        & > tbody > tr > td {
            padding: 10px 25px;
        
            &:nth-child(2) {
                color: $Nutmeg;
                font-weight: bold;
            }
        }
    }
}