@mixin padding {
    padding: 35px;
}

@mixin marginTop {
    margin-top: 20px;
}

@mixin marginAllTitle {
    margin-top: 10px;
}

@mixin flexAlignCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}